{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3 class="my-3">New Question</h3>

<div class="row align-items-center mb-3">
    <div class="col-12 col-md-1 mb-2 mb-md-0">
        <span class="h5 mb-0">Title</span>
    </div>
    <div class="col-12 col-md-8">
        <div class="input-group">
            <input type="text" class="form-control ask-area" placeholder="Enter title here...(max. 100 characters)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
</div>

<div class="row align-items-center mb-3">
    <div class="col-12 col-md-1 mb-2 mb-md-0">
        <span class="h5 mb-0">Text</span>
    </div>
    <div class="col-12 col-md-8">
        <div class="input-group">
            <textarea class="form-control ask-area" rows="15" placeholder="Enter your question here...(max. 1000 characters)" aria-label="With textarea"></textarea>
        </div>
    </div>
</div>

<div class="row align-items-center mb-3">
    <div class="col-12 col-md-1 mb-2 mb-md-0">
        <span class="h5 mb-0">Tags</span>
    </div>
    <div class="col-12 col-md-8">
        <div class="input-group">
            <input type="text" class="form-control ask-area" placeholder="Enter your tags here...(comma-separated listing, max. 500 characters)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
</div>

<button type="button" class="btn btn-ask my-4 px-4 py-2">Ask</button>
{% endblock %}