{% load static %}
<div class="question-card p-3 mb-3">
    <div class="row">
        <div class="col-3 col-md-2 col-lg-1 text-center">
            {% if question.author.profile.avatar %}
                <img src="{{ question.author.profile.avatar.url }}" alt="avatar" class="avatar-img mb-2">
            {% else %}
                <img src="{% static 'img/avatar.jpg' %}" alt="avatar" class="avatar-img mb-2">
            {% endif %}
            <div class="d-flex align-items-center mt-2">
                <button type="button" class="btn btn-outline-success btn-sm px-1 py-0 fw-bold vote-question-btn" 
                    data-id="{{ question.id }}" data-action="like" 
                    {% if not user.is_authenticated %}disabled title="Log in to vote"{% endif %}>&#9650;</button>
                
                <span class="fw-bold mx-1 my-1 fs-5" id="rating-question-{{ question.id }}">{{ question.rating }}</span>

                <button type="button" class="btn btn-outline-danger btn-sm px-1 py-0 fw-bold vote-question-btn" 
                    data-id="{{ question.id }}" data-action="dislike" 
                    {% if not user.is_authenticated %}disabled title="Log in to vote"{% endif %}>&#9660;</button>
            </div>
        </div>

        <div class="col-9 col-md-10 col-lg-11 ps-2 ps-md-4">
            <a href="{% url 'question' question.id %}" class="h5 mb-1">{{ question.title }}</a>
            <p class="mb-2">{{ question.text }}</p>
            
            <div class="d-flex gap-3 align-items-center mt-4">
                <a href="{% url 'question' question.id %}">answer ({{ question.answers.count }})</a>
                <div>
                    Tags: 
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag %}">{{ tag }}</a> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>