{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-question-card p-3 my-3">
    <div class="row">
        <div class="col-2 col-md-1">
            <img src="{% static 'img/avatar.jpg' %}" alt="avatar" class="main-avatar-img mb-2">
            <div class="d-flex align-items-center mt-2">
                <button type="button" class="btn btn-outline-success btn-sm px-1 py-0 fw-bold" title="Like">&#9650;</button>
                <span class="fw-bold mx-1 my-1 fs-5">{{ question.rating }}</span>
                <button type="button" class="btn btn-outline-danger btn-sm px-1 py-0 fw-bold" title="Dislike">&#9660;</button>
            </div>
        </div>

        <div class="col-10 col-md-11 ps-4">
            <a href="#" class="h3 mb-2">{{ question.title }}</a>
            
            <p class="my-2">{{ question.text }}</p>
            
            <div class="d-flex gap-3 align-items-center mt-3">
                <a href="#">answer ({{ question.answers.count }})</a>
                <div>
                    Tags: 
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

    {% for answer in answers %}
        {% include 'questions/answer_card.html' %}
    {% empty %}
        <div class="alert alert-warning">
            К этому вопросу пока нет ответов.
        </div>
    {% endfor %}

<div class="answer-part mt-3">
    <div class="input-group">
        <textarea class="form-control answer-area" rows="5" placeholder="Enter your answer here...(max. 1000 characters)" aria-label="With textarea"></textarea>
    </div>
    <button type="button" class="btn btn-answer my-4 px-4 py-2">Answer</button>
</div>


{% endblock %}