{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3 class="my-3">Log in</h3>

<form method="POST">
    {% csrf_token %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            {% include 'core/alert.html' with message=error %}
        {% endfor %}
    {% endif %}

    {% for field in form %}
    <div class="row align-items-center mb-3">
        <div class="col-12 col-md-2 mb-2 mb-md-0">
            <span class="h5 mb-0">{{ field.label }}</span>
        </div>
        <div class="col-12 col-md-4">
            <div class="input-group">
                {{ field }}
            </div>
            {% if field.errors %}
                <div class="text-danger mt-1 small">
                    {% for error in field.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <div class="row align-items-center mb-3">
        <div class="col-12 col-md-2 mb-2 mb-md-0"></div>
        <div class="col-12 col-md-4">
            <button type="submit" class="btn btn-login my-2 px-4 py-2">Log in!</button>
        </div>
    </div>

    <div class="row align-items-center mb-3">
        <div class="col-12 col-md-2 mb-2 mb-md-0"></div>
        <div class="col-12 col-md-4">
            <a href="{% url 'signup' %}">create new account</a>
        </div>
    </div>
</form>
{% endblock %}