{% load static %}
<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ask BMSTU</title>

        <link rel="icon" type="image/x-icon" href="{% static 'img/favi.png' %}">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body class="d-flex flex-column min-vh-100">
        <header class="py-3 header-main">
            <div class="container">
                <div class="row align-items-center gy-3">
                    
                    <div class="col-12 col-md-3 fw-bold text-center text-md-start">
                        <a href="{% url 'index' %}" id="name-tag">AskBMSTU</a>
                    </div>
                    
                    <div class="col-12 col-md-6 col-lg-7">
                        <div class="input-group">
                            <input type="text" class="form-control search-input" placeholder="Search" aria-label="Search" aria-describedby="button-addon">
                            {% if user.is_authenticated %}
                            <a href="{% url 'ask' %}" class="btn btn-success fw-bold text-white btn-ask-header text-decoration-none" id="button-addon" style="display: flex; align-items: center;">
                                ASK!
                            </a>
                            {% else %}
                            <a href="#" class="btn btn-success fw-bold text-white btn-ask-header text-decoration-none disabled" id="button-addon" style="display: flex; align-items: center;" aria-disabled="true">
                                ASK!
                            </a>
                            {% endif %}
                        </div>
                    </div>   
                    <div class="col-12 col-md-3 col-lg-2 d-flex justify-content-center justify-content-md-end align-items-center">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'settings' %}">
                                {% if user.profile.avatar %}
                                    <img src="{{ user.profile.avatar.url }}" class="border border-dark profile-pic">
                                {% else %}
                                    <img src="{% static 'img/avatar.jpg' %}" class="border border-dark profile-pic">
                                {% endif %}
                            </a>
                            <div class="d-flex flex-column align-items-center">
                                <a href="{% url 'settings' %}" class="text-decoration-none text-dark fw-bold lh-1 mb-1">
                                    {{ request.user.username }}
                                </a>
                                
                                <div class="d-flex gap-2">
                                    <a href="{% url 'settings' %}" class="text-secondary text-decoration-none mt-1">Settings</a>
                                <a href="{% url 'logout' %}" class="text-danger text-decoration-none mt-1">Log out</a>
                                </div>
                            </div>
                        {% else %}

                            <a href="{% url 'login' %}" class="me-3">Log in</a>
                            <a href="{% url 'signup' %}">register</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </header>

        <main class="flex-grow-1">
            <div class="container">
                <div class="row">   
                    
                    <div class="col-12 col-lg-10">
                        <div class="main-part">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>

                    <aside class="col-12 col-lg-2 sidebar">
                        <section class="my-5">
                            <h3 class="h4 mb-3">Popular Tags</h3>
                            <div class="d-flex flex-wrap gap-2 align-items-baseline">
                                {% for tag in popular_tags %}
                                    <a href="{% url 'tag' tag_name=tag.name %}" class="tag-{{ forloop.counter }} text-decoration-none">
                                        {{ tag.name }}
                                    </a>
                                {% empty %}
                                    <span class="text-muted">No tags yet</span>
                                {% endfor %}
                            </div>
                        </section>

                        <section>
                            <h3 class="h4 mb-3">Best Members</h3>
                            <ul class="list-unstyled">
                                {% for profile in best_members %}
                                    <li class="mb-1">
                                        <a href="{% url 'public_profile' username=profile.user.username %}" class="text-decoration-underline text-primary">
                                            {{ profile.user.username }}
                                        </a>
                                    </li>
                                {% empty %}
                                    <span class="text-muted">No members yet</span>
                                {% endfor %}
                            </ul>
                        </section>
                    </aside>

                </div>

            </div>

        </main>

        <footer>

        </footer>

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/search.js' %}"></script>
    </body>
</html>